
<h3 *ngIf="products; else noProduct"> {{ title }} </h3>

<div class="form-group">
    <input class="form-control" id="productName" 
    placeholder="enter your search text"
    [(ngModel)]="filterText"
    >
    <div *ngIf=="filterText" class="form-text">The word you're looking for right now is <strong> {{filterText}}</strong> </div>
  </div>


<div class="row">
    <ng-template #noProduct> 
        <div class="alert alert-info" role="alert">
            No Product      </div>
        
       </ng-template>
    <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h5 class="card-title">{{product.price | currency:'EUR':'symbol' }}</h5>

            <p class="card-text"> {{product.description}}</p>
            <a (click) = "addToCart(product)" class="btn btn-primary">add to cart</a>
        </div>
    </div>

    
</div>